input {
	syslog {
		type => "syslog"
		port => 5140
	}
}

output {
	if [type] == "syslog" {
		elasticsearch {
			cluster => "elasticsearch"
			host => "localhost"
		}

		stdout { codec => rubydebug }
	}
}
